SECRET_KEY=secretkey
DEBUG=1
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
SOCIAL_AUTH_VK_OAUTH2_KEY=51504600
SOCIAL_AUTH_VK_OAUTH2_SECRET=dvIEg4i4QAQzcVkTVGx6
TG_TOKEN=5876530892:AAH_rRR8vnTXyPQyhNkVDwV0Xfc4fGi0N6A